body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  background-color: rgb(73, 62, 62) !important;
}
nav a.nav-link.active{
  color: orangered !important;
}
nav a.nav-link:hover{
  color: orangered !important;
}

@media only screen and (max-width: 600px) {
  nav{
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  nav{
    text-align: center;
  }
}