@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Monoton', cursive;
font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  background-color: #004AAD !important;
}
nav a.nav-link.active{
  color: #FF914D !important;
}
nav a.nav-link:hover{
  color: #FF914D !important;
  box-shadow: none;
}
button{
  background-color:#FF914D !important;
  border: none #FF914D !important;
  border-radius: 10px;
}
button:hover{
  background-color: #004AAD !important;
}
footer .text-secondary:hover{
color: white !important;
}

@media only screen and (max-width: 600px) {
  nav{
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  nav{
    text-align: center;
  }
}